@import '../../../theme/variables.scss';

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
    max-height: 750px;
    overflow-y: scroll;
    padding: 0 10px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-light;
        border-radius: 5px;
    }

    .card {
        overflow: hidden;
        cursor: pointer;
        position: relative;

        .no-img {
            width: 210px;
            height: 295px;
            filter: brightness(0.6);
        }

        .title {
            color: $primary-light;
            position: absolute;
            bottom: 50px;
            left: 10px;
        }

        .summary {
            ::ng-deep {
                p {
                    color: white;
                    line-height: 12px;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.nothing-found {
    color: $primary-light;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
