@import '../../../theme/variables.scss';

.container {
    margin-top: 50px;

    .input-holder {
        display: flex;
        justify-content: center;

        form {
            position: relative;

            .svg-holder {
                position: absolute;
                right: 15px;
                top: 19px;

                svg {
                    cursor: pointer;

                    path {
                        filter: contrast(0);
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: $hover-light;
                        }
                    }
                }
            }
        }
    }

    .resoults {
        display: flex;
        justify-content: center;
    }
}
