@if(movieDetails) {
<div class="container">
    @defer () {
    <div class="img-container">
        <img [src]="movieDetails.image?.medium" alt="poster" />
    </div>
    } @placeholder{
    <div class="loader-parent">
        <div class="loader"></div>
    </div>
    }

    <div class="details-container">
        <h1 class="title">{{ movieDetails?.name }}</h1>

        @if(movieDetails.rating.average){
        <h4>Rating: {{ movieDetails.rating?.average }}</h4>
        }

        <h4>{{ movieDetails.runtime | convertMinutes }}</h4>

        <div>
            @for (genre of movieDetails.genres; let last=$last; track $index) {

            <span class="genre">
                {{ genre }}
                @if(!last){ , }
            </span>
            }
        </div>

        <h4>Premiered: {{ movieDetails?.premiered }}</h4>

        <div class="description" [innerHTML]="movieDetails?.summary"></div>
    </div>
</div>
}
